<%if mobile?%>

<div data-role="page" data-theme="a">
		<div data-role="header" data-position="inline" data-theme="b">
			<h1><%=@shop.name%></h1>
		</div>
		<div data-role="content" data-theme="c">
			<p><%=@shop.description%></p>
			<p>状态:营业中</p>
		</div>
		<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="b"> 
			<%=render 'shared/mobile_footer_nav',:shop=>@shop%>
  	</div><!-- /footer -->
</div>
<%else%>


<%end%>