<br/>

<div class="row-fluid">
	<div class="span12 " style="height:280px">
		<ul class="nav nav-list">

			<li class="nav-header">团购</li>
			<li><%=link_to "11.11 双十一 敬请期待","#" %></li>
			<br/>
			
			<br/>
			
			<li class="divider"></li>

			<li class="nav-header">活动</li>
			<li><%=link_to "11.11 双十一 敬请期待","#" %></li>
			
			<!--li class="divider"></li>
			<li class="nav-header">微信服务号</li>
			
			<li>
			
			<div class="article" style="margin-top:0px">
				<img src="images/qrcode.jpg" align="right" style="margin-left:5px;">
				<p>您可以通过搜索"上理果园",或者拿起手机扫一下右边的二维码，添加我们的微信服务号。</p>
			</div>
			</li-->
		</ul>

	</div>
</div>

<!--
		<li class="divider"></li>
		<li class="nav-header">Top 3 best selling</li>
		<li><a href="#">Product D</a></li>
		<li><a href="#">Product E</a></li>
		<li><a href="#">Product F</a></li>

-->