<nav class='' id='main-nav'>
<div class='navigation'>
<div class='search'>
    <form accept-charset="UTF-8" action="search_results.html" method="get" /><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <div class='search-wrapper'>
            <input autocomplete="off" class="search-query" id="q" name="q" placeholder="Search..." type="text" value="" />
            <button class="btn btn-link icon-search" name="button" type="submit"></button>
        </div>
    </form>
</div>
<ul class='nav nav-stacked'>
<li class='active'>
    <a href='<%=admin_root_path%>'>
        <i class='icon-dashboard'></i>
        <span>控制仪表盘</span>
    </a>
</li>

<li class=''>
    <a class='dropdown-collapse' href='#'>
        <i class='icon-edit'></i>
        <span>客户订单管理</span>
        <i class='icon-angle-down angle-down'></i>
    </a>
    <ul class='nav nav-stacked'>
        <li class=''>
            <a href='<%=admin_shoppings_path%>'>
                <i class='icon-caret-right'></i>
                <span>浏览全部订单</span>
            </a>
        </li>
        <li class=''>
            <a href='<%=new_admin_shopping_path%>'>
                <i class='icon-caret-right'></i>
                <span>手工添加订单(开发中)</span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a class='dropdown-collapse ' href='#'>
        <i class='icon-barcode'></i>
        <span>商品管理</span>
        <i class='icon-angle-down angle-down'></i>
    </a>
    <ul class='nav nav-stacked'>
        <li class=''>
            <a href='ui_elements.html'>
                <i class='icon-caret-right'></i>
                <span>UI Elements</span>
            </a>
        </li>
        <li class=''>
            <a href='widgets.html'>
                <i class='icon-caret-right'></i>
                <span>Widgets</span>
            </a>
        </li>
    </ul>
</li>
<li class=''>
    <a href='buttons_and_icons.html'>
        <i class='icon-star'></i>
        <span>订单表格管理</span>
    </a>
</li>

<li class=''>
    <a href='tables.html'>
        <i class='icon-table'></i>
        <span>微信管理</span>
    </a>
</li>
<li>
    <a class='dropdown-collapse ' href='#'>
        <i class='icon-bar-chart'></i>
        <span>报表</span>
        <i class='icon-angle-down angle-down'></i>
    </a>
    <ul class='nav nav-stacked'>
        <li class=''>
            <a href='<%=products_admin_reports_path%>'>
                <i class='icon-caret-right'></i>
                <span>商品销售汇总</span>
            </a>
        </li>
    </ul>
</li>
</ul>
</div>
</nav>