	<div class="row-fluid print-hide">
		<div class="span4">
			<div class="header-action">
				<span class="label label-info">上理果园开业期间任意消费均免费送货</span>
			</div>
		</div>
		<div class="span8">
			<div class="navbar pull-right header-nav">
				<ul class="nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">account</a>
						<ul class="dropdown-menu">
							<li>
								<div class="dropdown-content">
									<br>
									<form>
										<input type="text" class="input-medium" placeholder="Username"><br>
										<input type="password" class="input-medium" placeholder="Password"><br>
										<button class="btn">reset</button>
										<button class="btn btn-primary">login</button>
									</form> 
									<br>
								</div>
							</li>
						</ul>
					</li>
					<li><a href="#">orders</a></li>
					<li><a href="#">customer service</a></li>
				</ul>
			</div>
		</div>
	</div>