<xml>
	<ToUserName><![CDATA[<%= params[:xml][:FromUserName]%> ]]></ToUserName>
	<FromUserName><![CDATA[<%= params[:xml][:ToUserName]%> ]]></FromUserName>
	<CreateTime><%= Time.now.to_i %></CreateTime>
	<MsgType><![CDATA[news]]></MsgType>
<ArticleCount>1</ArticleCount>
<Articles>
<item>
<Title><![CDATA[test]]></Title> 
<Description><![CDATA[description]]></Description>
<PicUrl><![CDATA[http://162.243.131.153/uploads/good/cover/1/small_4457307_095158359191_2.jpg]]></PicUrl>
<Url><![CDATA[http://162.243.131.153/goods/1]]></Url>
</item>
</Articles>
</xml>