<%order.goods_items.each do |goods_item|%>
	<div class="order_form_div">
		<%=image_tag goods_item.good.cover%>
		<div class="order_form_content">
		<%= goods_item.good.name%>
		<%=goods_item.good.price%>元/<%=goods_item.good.unit%>
		</div>
	</div>
	
<%end%>