<p id="notice"><%= notice %></p>

<form>
<fieldset>
    <legend>
      <span class="form-name"><%=@order.name%></span>
      <small class="form-description"><p><%=@order.content%></p></small>
    </legend>
<%=render :partial=> @order%>

</fieldset>
</form>