<p id="notice"><%= notice %></p>
<form>
<fieldset>
    <legend>
      <span class="form-name"><%=@order.name%></span>
      <small class="form-description"><p><%=@order.content%></p></small>
    </legend>
<%=render :partial=> @order%>
</fieldset>
<div class="actions">
  <input name="commit" type="submit" value="Update Good" />
</div>
</form>