<%= content_for :title do %>
	管理员首页
<% end %>	
	
<div class='row-fluid timeline'>
	<div class='span12'>
	    <ol class='unstyled'>
	        <li>
	            <div class='icon purple-background'>
	                <i class='icon-cog'></i>
	            </div>
	            <div class='title'>
	                小潘施工中
	                <small class='muted'>2013-11-2</small>
	            </div>
	            <div class='content'>
								后台管理页面全改造中
	            </div>
	        </li>
			</ol>
	</div>
</div>
