<%= content_for :title do %>
	管理员首页
<% end %>	
	
<div class='row-fluid timeline'>
	<div class='span12'>
	    <ol class='unstyled'>
	        <li>
	            <div class='icon purple-background'>
	                <i class='icon-cog'></i>
	            </div>
	            <div class='title'>
	                小潘施工中..
	                <small class='muted'>2013-11-2</small>
	            </div>
	            <div class='content'>
									<h3>后台管理页面全改造中</h3>

									<p>微信关键字维护--迁移成功</p>
									<p>微信API日志--0%</p>
									<p>客户订单--50%</p>
									<p>商品信息--30%</p>
									<p>展示表格--0%</p>
									<p>财务模块--0%</p>
									
									<p>报表--1/1</p>
									

	            </div>
	        </li>
			</ol>
	</div>
</div>
