/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .	
 */
.shadow {
    -moz-box-shadow: 3px 3px 4px #aaaaaa;
    -webkit-box-shadow: 3px 3px 4px #aaaaaa;
    box-shadow: 3px 3px 4px #aaaaaa;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa');
}
ã€‚pre_ribbon{position:absolute;top:0;right:0;height:100px;width:100px;overflow:hidden;color:#fff;font-weight:bold;letter-spacing:.5em}

.contact-info{
	margin-top:20px;
	padding-left:20px;
}

.number-container .price-rest{
	display:inline;
	float:left;
}
.number-container .number-counter{
	display:inline;
	float:right;
}
.number-container input{
	width:20px;
	text-align:center;
	background:#F9F9F9;
	margin-top:10px;	
}
.number-container a{
	width:20px;
	text-align:center;
	background:#F9F9F9;
}
.form{
	margin:10px 10px 0;	
}
.fl {
	float:left;
	display:inline
}
.footer{
	margin-top:20px;	
}
.footer ul{
	text-align:center;
	font-size:13px;
	list-style:none;
	height:100px;
}
.footer ul li{
	display:inline;
	letter-spacing:2px;
	padding:0px 12px;
	font-size:12px;

}

#content{
	border-radius:10px;
	background:#F9F9F9;
}
body{
   padding-top: 60px;
}
.goods-div{
	float:left;
	display:inline;
	padding:10px 10px 0;
	border-width:1px;
	border-style:solid;
	border-color:#C2C2C2;
	margin-top:10px;
	margin-left:10px;
	background:#F9F9F9;
}

.name-dashed{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-bottom:1px dashed #000;}
.price p{
	color:#FE0019;
	font-size:14px;
	margin-top:10px;
	margin-bottom:-5px;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.image-center{width:256px;height:280px;text-align:center;vertical-align:middle;margin-bottom:0px}
.rest{font-size:12px;color:#999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
