/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .	
 */


.form{
	margin:10px 10px 0;	
}
.fl {
	float:left;
	display:inline
}
.footer{
	margin-top:20px;	
}
.footer ul{
	text-align:center;
	font-size:13px;
	list-style:none;
	height:100px;
}
.footer ul li{
	display:inline;
	letter-spacing:2px;
	padding:0px 12px;
	font-size:12px;

}

#content{
	border-radius:10px;
	background:#F9F9F9;
}
body{
   padding-top: 60px;
}
.goods_div{
	float:left;
	display:inline;
	padding:10px 10px 0;
	border-width:1px;
	border-style:solid;
	border-color:#C2C2C2;
	margin-top:-10px;
	margin-left:10px;
	background:#F9F9F9
}

.name{margin-top:-20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-bottom:1px dashed #000}
.price{color:#FE0019;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.image-center{width:256px;height:256px;text-align:center;vertical-align:middle;}
