// Place all the styles related to the goods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.goods{
	margin-top:10px;
	margin-left:60px;
}
.goods_head{
border-bottom:1px solid #999;
margin-bottom:10px;
}
.goods_head h1{
	text-align:center;
}
.goods_head h2{
	font-size:18px;color:#999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:center;
}

.goods_body #main{
border-right:1px solid #999;text-align:center;
}

.goods_body #sidebar .price{
	color:#000;
	font-size:18px;
	margin-top:10px;
	margin-bottom:-5px;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}