// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
	margin-bottom:20px;
	margin-left:10px;
}
.box p{
	font-size:14px;color:#999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:center;
}
.name{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.carousel-inner {
	height:400px;
	display:block;
}