/*
*= require bootstrap.min.css
*= require bootstrap-responsive.min
*= require shop/style.css
*= require shop/nivo-slider
*= require shop/nivo-themes/bar/bar
*= require shop/nivo-themes/light/light
*= require shop/colorbox

*/
