// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user-info{
	width:600px;
	margin-left:100px;
	background:#fff;
	text-align:left;
}
.history-table 
{
padding-left:50px;
padding-right:50px;

}